@using  Microsoft.AspNetCore.Authentication

@{
    ViewData["Title"] = "Home Page";
}

<h2>Identity Example Web</h2>


@if (User.Identity.IsAuthenticated)
{
    <h3>Claims</h3>

    // Old styleee :(
    //var idt = await Context.Authentication.GetTokenAsync("id_token");

    // Now use AuthenticationHttpContextExtensions GetTokenAsync method:
    var idt = await Context.GetTokenAsync("id_token");
    var at = await Context.GetTokenAsync("access_token");
    var rt = await Context.GetTokenAsync("refresh_token");

    @if (idt != null)
    {
        <p><b>Id Token</b> &nbsp; @idt</p>
    }
    foreach (var claim in User.Claims)
    {
        <p><b> @claim.Type </b> &nbsp; @claim.Value </p>
    }
}
else
{
    <p>Please login to continue</p>
}